@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    font-family: 'Manrope', Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.page__padding {
    padding: 0 12vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header__logo-link{
    height: 100%;
}

.header__logo-img{
    width: 128px;
    height: 22px;
}

.header__logo-text {
    color: #3d6ca6;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
}

.main__nav__mobile{
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    justify-content: center;
    border-top: 2px solid #e1e1e1;
    padding: 15px 0;
    background-color: white;
}

.header__nav-link p{
    color: white;
    padding-bottom: 25px;
    font-size: 12px;
    font-weight: 600;
}

.header__nav-item {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    width: 7em;
    height: 13vh;
	color: #fff;
	
	background-color: #91BCDE;
    text-align: center;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}

.header__nav-item:hover{
    background-color: #b3d7f2;
    cursor: pointer;
}

.header__address p{
    color: #3d6ca6;
}

.header__consultation {
    background-color: #f7a207;
    border-radius: 30px;
    padding: 13px 25px;
    font-weight: bold;
    color: white;
}

.header__consultation:hover {
    background-color: #fecb6e;
}

.header__phone {
    display: none;
}

.nav__phone {
    display: block;
    font-size: 25px;
    color: #3d6ca6;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F4F4;
    text-transform: uppercase;
    color: black;
    white-space: nowrap;
    height: 7vh;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.nav__link {
    font-size: 20px;
    font-weight: 400;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

.main__info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__info-title{
    width: 60%;
}

.main__info-title,
.main__info-title span{
    font-size: 3vw;
    font-weight: 700;
    line-height: 53px;

}

.main__info-highlight{
    color: rgb(148, 193, 227);
}

.main__info-list {
    display: flex;
    flex-direction: column;
}

.main__info-list-item {
    font-size: 1.6vw;
    line-height: 5vh;
    font-weight: 500;
    list-style-position: inside;
}

.main__info-details{
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
}

.main__info-details div{
    display: flex;
    gap: 30px;
}

.main__info-detail-definition {
    font-size: 1.2em;
}

.main__info-detail-term img {
    width: 58px;
}

.main__buttons {
    display: flex;
    justify-content: space-between
}
.main__button {
    padding: 13px 0;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    width: 350px;
}

.main__button--consultation {
    background-color: #f7a207;
    border-radius: 30px;
    color: white;
}

.main__button--consultation:hover {
    background-color: #fecb6e;
}

.main__button--video, .main__button--image {
    border: 3px solid #91BCDE;
    border-radius: 30px;
    padding: 13px 25px;
}

.doctor{
    position:relative;
    width: 30%;
    height: 100%;
}

.doctor__background,
.doctor__image{
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0%;
}

.doctor__background{
    object-fit: cover;
    height: 80%;
    background-color: #91BCDE;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.doctor__image,
.doctor__bio{
    padding-left: 30px;
}

.doctor__bio {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

.doctor__name{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.doctor__title{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.event div{
    display: flex;
    background-color: #f7a207;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 30px;
}

.event__text{
    color: white;
    font-size: 1.4vw;
    font-weight: 400;
}

.recomendation {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #F5F4F4;
}

.recomendation__figure{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recomendation__figure-img-container {
    display: flex;
    gap: 1vw;
}

.recomendation__figure-img{
    width: 181px;
    height: 270px;
}

.recomendation__figure-caption{
    color: #3d6ca6;
    font-size: 1.5vw;
    font-weight: 400;
}

.main__info-detail-title {
    width: 70%;
    font-size: 1.5vw;
    font-weight: 700;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap: 4vh;
}

.statistic__list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    margin-bottom: 30px;
}

.statistic__list-item {
    border: 3px dashed #91BCDE;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 5%;
}

.statistic__list-item h4{
    color: #3d6ca6;
    font-size: 24px;
    font-weight: 700;
}

.statistic__list-item h5{
    color: #3d6ca6;
    font-size: 18px;
    font-weight: 400;
}

.statistic__list-item p{
    color: #acacac;
    font-size: 18px;
    font-weight: 400;
}

.item-7, .item-8, .item-9 {
    grid-column: span 2;
    padding: 15px 15%;
}

.statistic__buttons {
    display: flex;
    gap:3vw;
}

.address {
    background-color: #94c1e3;
    display: flex;
    width: 100%;
}

.address__map{
    width: 50%;
}

.address-container {
    padding: 4vw;
    width: 50%;
}

.address-container h2, .address-container h3, .address-container p, .address-container a{
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
}

.address-container h2 {
    font-weight: 700;
}

.address-container p {
    margin-top: 3vh;
    font-size: 1.2vw;
}


.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.footer__logo-img{
    width: 128px;
    height: 22px;
}

.footer__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__info-text{
    color: gray;
}

.footer__navigation{
    display: flex;
    gap: 30px;
}

.footer__navigation-link{
    color: white;
    font-size: 16px;
}

.footer__navigation-list {
    padding: 10px 0;
}

.footer__documents{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.footer__document-img {
    width: 75px;
    height: 103px;
}

.footer__social{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__social-link{
    color: white;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    gap: 15px;
}
.footer__social-icon{
    width: 40px;
    height: 40px;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    align-items: center;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 60%;
    height: fit-content;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.modal.open .modal__content {
    transform: translateY(0);
}

.modal__close-button {
    color: white;
    position: absolute;
    top: 0;
    right: 3vw;
    font-size: 50px;
    font-weight: 100;
    cursor: pointer;
}

.gallery {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    position: absolute;
    max-width: 80%;
    max-height: 400px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

.gallery img.active {
    opacity: 1;
    visibility: visible;
}

.gallery button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    color: gray;
    border: none;
    font-size: 30px;
    line-height: 18px;
    padding: 10px;
    font-weight: 100;
    cursor: pointer;
}

.gallery .prev {
    left: 0;
}

.gallery .next {
    right: 0;
}

.form__container {
    background-color: white;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
}


.form-title {
    color: black;
    font-size: 1.9vw;
    font-weight: 700;
    text-align: center;
}

.form-desc{
    font-size: 1.3vw;
    font-weight: 300;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

label {
    font-size: 1.5vw;
    font-weight: 400;
}

input {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.3vw;
    font-weight: 300;
}

.submit__button {
    border: 1px solid transparent;
    background-color: #f7a207;
    border-radius: 30px;
    padding: 15px;
    color: white;
    font-size: 1.3vw;
    font-weight: 500;
}

.submit__button:hover{
    background-color: #fecb6e;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-politic {
    text-align: center;
}



@media (max-width: 1100px) {
    .page__padding {
        padding: 0 4vw;
    }

    .header {
        justify-content: flex-start;
        gap: 20px;
    }

    .header__nav-list {
        gap: 30px;
    }

    .header__consultation {
        display: none;
    }

    .header__phone {
        display: block;
        font-size: 18px;
        color: #3d6ca6;
        font-weight: bold;
    }

    .nav {
        display: none;
    }

    .main__nav__mobile{
        display: flex;
    }

    .main__info-title{
        width: 100%;
    }

    .main__info-details {
        gap: 15px;
        flex-direction: column;
    }

    .main__buttons, .statistic__buttons {
        flex-direction: column;
        gap: 15px;
    }

    .main {
        height: 100vh;
        padding-bottom: 4vh;
    }

    .doctor {
        display: none;
    }

    .main__info {
        gap: 30px;
    }

    .main__info-list-item {
        font-size: 3vw;
    }

    .event__text {
        font-size: 2vw;
    }

    .recomendation ,.statistic {
        height: fit-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
        flex-direction: column;
    }

    .main__info-detail-title{
        font-size: 3vw;
    }

    .recomendation__figure-caption {
        font-size: 3vw;
    }

    .recomendation__figure {
        margin-top: 5vh;
    }

    .statistic__list {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        justify-content: space-between;
        list-style: none;
        gap: 30px;
        margin-bottom: 30px;
    }


    .footer {
        flex-direction: column;
        gap: 50px;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .footer__social-list {
        width: 100%;
    }

    .footer__social{
        align-items: center;
    }

    .footer__navigation {
        flex-direction: column;
    }

    .modal__content {
        width: 100%;
    }

    .form-title {
        font-size: 5vw;
    }
    
    .form-desc, input, .submit__button{
        font-size: 3.3vw;
    }
    
    label {
        font-size: 3.5vw;
    }
}

@media (max-width: 960px) {
    .header__address {
        display: none;
    }
}

@media (max-width: 640px) {
    .header {
        flex-direction: column;
    }

    .header__logo {
        padding-top: 15px;
    }

    .header__nav-list {
        display: none;
    }

    .main__info-title,
    .main__info-title span {
        font-size: 8vw;
    }

    .main__info-list-item {
        font-size: 5vw;
    }

    .main {
        height: 130vh;
        padding-bottom: 8vh;
    }

    .event__text {
        font-size: 4vw;
    }

    .address {
        flex-direction: column;
    }

    .address__map{
        width: 100%;
    }
    
    .address-container {
        padding: 7vw;
        width: 100%;
    }
    
    .address-container h2, .address-container h3, .address-container p, .address-container a{
        font-size: 4vw;
    }
    
    .address-container p {
        font-size: 3.2vw;
    }
}